body {
  font-family: arial;
}

.date { 
  font-family: georgia;
  text-align: center;
  color: #988;
  position: absolute;
  left: 29.5em;
  border-top: 1px double #ccc;
  border-bottom: 3px double #ccc;
  padding-bottom: 1em;
}

.date .day, .date .month { 
  display: block;
}

.date .day { 
  font-size: 2em;
}

.date .day .units {
  font-size: 0.7em;
}
 
.date .month { 
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-top: 0.2em;
  font-size: 0.7em;
}

#wrapper {
    width: 28em;
    margin: 0px auto;
}

#wrapper #main_content {
    background-color: #f4f1f1;
    padding: 1em;
    position:relative;
}

#post_navigation a { 
  border-top: 0.2em solid #fff;
}

#post_navigation a { 
  background-color: #ede2e2;
  text-decoration: underline;

  padding: 0.5em 1em 2.5em 1em;
  display: block;
  width: 11.9em;
}

#post_navigation a:hover { 
  color: #fff;
  text-decoration: none;
  background-color: #b00;
}

#post_navigation a#nav_earlier { 
  float: right;
  text-align: right;
  border-left: 0.1em solid #fff;
}

#post_navigation a#nav_later { 
  float: left;
  border-right: 0.1em solid #fff;
}

.post {
  line-height: 1.3em;
  margin: 0em 0em 2em 0em;
}

a {
  color: #b00;
}

a:visited {
  color: #604;
}

.tumblr_regular {
  font-size: 0.75em;
}

.tumblr_regular p {
  text-align: justify;
}

.tumblr_link * {

}

blockquote {
  font-family: georgia;
  font-style: italic;
  line-height: 1.3em;
}

.tumblr_quote blockquote {
  margin: 0px 0px 6px 0px;
}

.tumblr_quote blockquote.long, .tumblr_quote blockquote.medium {
  font-size: 0.85em;
}

.tumblr_quote blockquote.short {
  font-size: 2em;
  text-align: right;
  line-height: 1em;
}

cite {
    display: block;
    font-style: normal;
  font-size: 0.85em;
    text-align: right;
}

cite:before {
    content: '— ';
}

.tumblr_link h1 {
    font-size: 1.5em;
    font-family: georgia;
    font-weight: normal;
/*  text-indent: -1em;  
  margin: 0px 0px 0px 1em; */
    display: inline;
}

.tumblr_link .description:before {
  content: '»';
  color: #666;
  margin: 0em 0.3em;
}

.tumblr_link div.description {
    display: inline;
}

.tumblr_link h1 a {
    line-height: 1em;
}

.tumblr_image .frame {
  padding: 0.4em 0em 0.5em 0em;
  background-color: #500;
  margin: 0px auto;
  text-align: center;
}
.tumblr_image .frame img {
  border: 1px solid #fff;

}

.tumblr_image .caption {
    background-color: #fff;
    border-bottom: 2px solid #dfdfdf;
    font-size: 0.7em;
    padding: 1em;
    text-align: right;
}